<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>My Website - About</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">

</head>

<body>

<div class="container">

<h1>Tahmia Vincent</h1>

<p>
I enjoy spending time around animals and noticing the funny things they do.
This morning, I saw a dog jump over a fence and chase after a cat, which was
both surprising and amusing to watch.
</p>

<img src="{{ url_for('static', filename='image_files/dogandcat.jpg') }}" alt="dog and cat">



</div>

</body>
</html>
